* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html{
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex; 
  align-items: center;
 /*  padding: 20px; 
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  justify-content: space-between; */
}

.content {
  flex: 1; /* Permite que el contenido ocupe el espacio disponible */
}

.image {
  margin-left: 20px;
}
.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

